.contact-modal {
   display: none;
   position: fixed;
   width: 100vw;
   height: 100vh;
   left: 0;
   top: 0;
   bottom: 0;
   z-index: 10;
   background-color: transparent;
   transition: all 250ms ease-in-out;
   opacity: 0%;
}

.overlay {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    left: 350px;
    bottom: 0;
    background-color:  rgb(25, 25, 25, .92);
}

.contact {
    position: absolute;
    top: 50%;
    left: 67%;
    transform: translate(-67%, -50%);
    width: 400px;
    height: auto;
    background-color: #292929;
    padding: 5px;
    border-radius: 20px;
}

.contact button {
    width: 50px;
    height: 50px;
    border: none;
    outline: none;
    background: none;
    float: right;
}

.contact i {
    cursor: pointer;
    color: #5b5b5b;
    font-size: 25px;
    transition: all 150ms ease-in-out;
}

.contact i:hover {
    text-shadow: 1px 4px 0px #191919;
}

.contact-title {
    display: flex;
    justify-content: center;
}

.contact-title span {
    transform: translateX(20px);
    line-height: 50px;
    color: white;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 25px;
    text-align: center;
}

.contact form {
    /* background-color: blanchedalmond; */
    max-width: 185px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact label {
    font-family: "Montserrat";
    color: #c4c4c4;
    font-weight: 500;
}

.contact label input {
    padding: 10px;
    border-radius: 5px;
    box-shadow: inset 0px -3px 0px 0px #191919;
    width: 100%;
    background-color: #2f2f2f;
    border: none;
    outline: none;
    color: white;
    /* transform: translateX(-20px); */
    font-family: "Montserrat";
    height: 20px;
    width: 225px;
}

.contact label textarea {
    padding: 10px;
    border-radius: 5px;
    box-shadow: inset 0px -3px 0px 0px #191919;
    width: 100%;
    background-color: #2f2f2f;
    border: none;
    outline: none;
    color: white;
    font-family: "Montserrat";
    min-width: 225px;
    max-width: 225px;
    min-height: 150px;
    max-height: 150px;
    resize: none;
}

.contact form input[type="submit"] {
    background-color: #5eff5a;
    color: #292929;
    border: none;
    width: 150px;
    border-radius: 5px;
    padding: 10px;
    font-family: "Montserrat";
    font-weight: bold;
    box-shadow: inset 0px -4px 0px 0px #3A9638;
    transition: all 250ms ease-in-out;
    outline: none;
}

.contact form input[type="submit"]:hover {
    box-shadow: inset 0px -0px 0px 0px transparent;
}