.contact-modal {
   display: none;
   position: fixed;
   width: 100vw;
   height: 100vh;
   left: 0;
   top: 0;
   bottom: 0;
   z-index: 10;
   background-color: transparent;
   transition: all 250ms ease-in-out;
   opacity: 0%;
}

.overlay {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    left: 350px;
    bottom: 0;
    background-color:  rgb(25, 25, 25, .92);
}

.contact {
    position: absolute;
    top: 25%;
    left: 53%;
    transform: translate(-25%, 53%);
    width: 450px;
    height: auto;
    background-color: #292929;
    padding: 5px;
    border-radius: 10px;
}

.contact button {
    width: 50px;
    height: 50px;
    border: none;
    outline: none;
    background: none;
    float: right;
}

.contact i {
    cursor: pointer;
    color: #5b5b5b;
    font-size: 25px;
    transition: all 150ms ease-in-out;
}

.contact i:hover {
    text-shadow: 1px 4px 0px #191919;
}

.contact-title {
    display: flex;
    justify-content: center;
}

.contact-title span {
    transform: translateX(20px);
    line-height: 50px;
    color: white;
    font-family: "Montserrat";
    font-weight: 500;
    text-align: center;
}